/* Remove deploy button */
.stDeployButton {
    display: none;
}

[data-testid="stToolbarActions"] {
    display: none;
}

/* Add page text to sidebar button */
div.st-emotion-cache-oxb5th.eczjsme4 button[data-testid="baseButton-headerNoPadding"]::after {
    content: 'Pages';
    display: block;
    width: 50px
}

.st-emotion-cache-1dp5vir.ezrtsby1 {
    background-image: none;
}

/* Remove empty space from css markdowns */
div[data-testid="stVerticalBlockBorderWrapper"]:has(> div[data-testid="element-container"]:has(> div[data-testid="stMarkdown"])) {
    display: none;
}

/* Setting font size and margin for markdowns */
.st-emotion-cache-uzeiqp p {
    font-size: 14px;
    margin-bottom: 3.5px;
}

div[class="st-emotion-cache-1p1m4ay e3g6aar0"] {
    display: flex;
}

header.stAppHeader {
    background: rgba(0, 0, 0, 0);
}

div.stMainBlockContainer {
    padding-top: 0.2rem;
}

div.st-key-app_title div.stHeading {
    text-align: center;
}

div.st-key-app_title div.stHeading h1 {
    font-family: 'Source Sans';
    font-weight: bolder;
    font-size: xx-large;
}

[data-baseweb="tag"] span[title]{
    max-width: 300px;
}